{% extends 'base.html' %}

{% block title %}Cake{% endblock %}

{% block content %}
    <h2>Cake</h2>

    <h4>{{ cake.name }}</h4>
    {{ cake.price }}$

    <h4>Ingredients:</h4>
    <ul>
    {% for ingredient in cake.ingredients.all %}
        <li>{{ ingredient.name }}</li>
    {% endfor %}
    </ul>

    <br>
    <br>

    <form method="post" class="form" role="form">{% csrf_token %}
        <div class="form-group">
            {{ form.cakeid.as_hidden }}
        </div>


        <div class="form-group">
            <label for="quantity">Quantity</label>
            {{ form.quantity.errors }}
            {{ form.quantity }}
        </div>

    <button type="submit" class="btn btn-default">Add to Cart</button>
    </form>


{% endblock %}