{% extends 'base.html' %}

{% block title %}Basket{% endblock %}

{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html">Basket</h2>

    <h4>Customer: {{ order.customer }}</h4>

    <hr>
    <h4>Cakes in basket:</h4>
    <ul class="list-group">

        {% for orderitem in order.items.all %}
            <li class="list-group-item">{{ orderitem.product.name }}: {{ orderitem.quantity }} for {{ orderitem.price }}$ ({{ orderitem.product.price }}$ each)</li>
        {% endfor %}

    </ul>

    <h3>Total Price:  {{ order.price }}$ </h3>
    <hr>

    <form method="post" class="form" role="form">{% csrf_token %}
{#        <div class="form-group">#}
{#            {{ form.orderid.as_hidden }}#}
{#        </div>#}


        <div class="form-group">
            <label for="quantity">Address</label>
            {{ form.address.errors }}
            {{ form.address }}
        </div>

    <button type="submit" class="btn btn-default">BUY</button>
    </form>


{% endblock %}